@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

main{
    display: flex;
    padding-top: 40px;
    // HERO
    .hero{
        max-width: 50%;
        //HERO MAIN
        .hero__main{
            padding-bottom: 250px ;
            h1{
                font-family: v.$title-font;
                font-size: 60px;
                line-height: 96px;
                color: v.$font-primary-color;
                font-weight: normal;
                margin-bottom: 32px;
            }

            p{
                color: v.$font-secondary-color;
                font-size: 18px;
                margin-bottom: 32px;
            }

            .hero__buttons{
                @include m.reset-list;
                a{
                    color: v.$font-primary-color;
                    padding-right: 50px;
                    background-image: url(/img/chevron-down.svg);
                    background-repeat: no-repeat;
                    background-position: right 1em center;
                }
                .btn{
                    display: inline-block;
                    color: white;
                    background-color: v.$font-primary-color;
                    padding: 10px 25px;
                    padding-right: 50px;
                    background-image: url(/img/diagonal-arrow.svg);
                    background-repeat: no-repeat;
                    background-position: right 1em center;
                }
                
            }
        }
        //HERO NUMBERS
        .hero__numbers{
            display: flex;
            align-items: stretch;
            gap: 20px;
            max-width: 70%;
            article{
                padding-top: 20px;
                min-height: 100%;
                min-width: 25%;
                h2{
                    font-size:50px;
                    line-height: 70px;
                    font-weight: 500;
                    padding-bottom: 8px;
                }
                p{
                    color: v.$font-secondary-color;
                    text-align: left;   
                    max-width: 30%;
                    font-size: 16px;
                }
            }
        }
    }
}
