@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

main{
    display: flex;
    padding-top: 40px;
    position: relative;
    // HERO
    .hero{
        max-width: 50%;
        //HERO MAIN
        .hero__main{
            padding-bottom: 250px ;
            h1{
                font-family: v.$title-font;
                font-size: 60px;
                line-height: 96px;
                color: v.$font-primary-color;
                font-weight: normal;
                margin-bottom: 32px;
            }

            p{
                color: v.$font-secondary-color;
                font-size: 18px;
                margin-bottom: 32px;
            }

            // BUTTONS STYLES
            .hero__buttons{
                @include m.reset-list;
                a{
                    color: v.$font-primary-color;
                    padding-right: 50px;
                    background-image: url(/img/chevron-down.svg);
                    background-repeat: no-repeat;
                    background-position: right 1em center;
                }
                .btn{
                    display: inline-block;
                    color: white;
                    background-color: v.$font-primary-color;
                    padding: 10px 25px;
                    padding-right: 50px;
                    background-image: url(/img/diagonal-arrow.svg);
                    background-repeat: no-repeat;
                    background-position: right 1em center;
                    transition: ease 0.5s;
                    &:hover{
                        background-color: v.$background-secondary-color;
                        color: v.$font-secondary-color;
                    }
                }
                
            }
        }
        //HERO NUMBERS STYLES
        .hero__numbers{
            display: flex;
            align-items: stretch;
            gap: 20px;
            max-width: 70%;
            article{
                padding-top: 20px;
                min-height: 100%;
                min-width: 25%;
                h2{
                    font-size:50px;
                    line-height: 70px;
                    font-weight: 500;
                    padding-bottom: 8px;
                }
                p{
                    color: v.$font-secondary-color;
                    text-align: left;   
                    max-width: 30%;
                    font-size: 16px;
                }
            }
        }
    }

    // ASIDE SERVICES STYLES
    aside.service{
        background-color: #FAF8F5;
        position: absolute;
        right: 20px;
        width: 350px;
        height: 260px;
        padding: 35px 20px;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        p{
            font-size: 14px;
            color: v.$font-primary-color;
        }
       .aside__links{
            max-width: 90%;
            margin-left: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
            padding-top: 20px;
            position: relative;
            &:nth-of-type(n+2){
                &::before{
                    content: "";
                    width: 90%;
                    height: 1px;
                    display: inline-block;
                    background-color: v.$font-secondary-color;
                    position: absolute;
                    top: 0px;
                    opacity: 0.3;
                }
            }
            a{
                text-decoration: none;
                color: v.$font-primary-color;
                background-image: url(/img/right-arrow.svg);
                background-repeat: no-repeat;
                background-position: center right;
                min-width: 90%;
                font-weight: 400;
            }
            .number{
                color: v.$font-secondary-color;
                font-size: 13px;
                padding-right: 0;
                background: none;
                min-width: 5%;
            }
       }
    }
}
